<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="대한민국 납세자들이 내는 세금을 정부에서는 어떻게 사용하고 있는지 시각화하여 보여드립니다.">
  <meta name="viewport" content="width=device-width">
  
  <link rel="stylesheet" href="http://assets.openspending.org/branding/fonts/opensans/stylesheet.css" />
  <link rel="stylesheet" href="http://assets.okfn.org/ext/bootstrap-2.2.2/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
  <script src="/js/lib/modernizr-2.5.3.min.js"></script>
  <script src="/js/lib/jquery.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  {{ content }}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58003381-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>









