---
layout: blank
---


<header>
  <div class="container">
    <a class="okfn-ribbon" href="http://okfn.org/" title="An Open Knowledge Foundation Project">OKFN</a>
    <div id="logo">
      <a href="/">
        <img src="img/logo.png" alt="{{ site.title }}">
        <div id="claim">
          내가 낸 세금이 어느 곳에 얼마나 쓰였는지 볼 수 있습니다.
        </div>
      </a>
    </div>
    <nav>
      <ul class="nav nav-tabs">
        <li><a href="about.html">이 프로젝트는?</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="team.html">만든 사람들</a></li>
        <li><a href="bubbletree-map.html">지역별 지출 내역</a></li>
        <li><a href="dailybread.html">일일 지출 내역</a></li>
      </ul>
    </nav>
    <script type="text/javascript">
      $(function() {
        $('ul.nav-tabs a').each(function(i,el) {
          if (window.location.href.indexOf($(el).attr('href')) > 0) {
        $(el).addClass('active');
          }
        });
      });
    </script>
  </div>
</header>

<div class="container">
  {{ content }}
</div>

<footer>
  <div class="inner">
    <div class="container">
      <p>
        Where Does My Money Go? 프로젝트는 <a href="https://openspending.org/tax_korea_updated">정부의 기능별 세입, 세출 자료</a>를 <a href="http://openspending.org">OpenSpending</a>을 활용하여 만들어졌습니다.<br/>
        본 프로젝트는 <a href="http://okfn.org">Open Knowledge Foundation</a>의 프로젝트로 <a href="http://www.channel4.com">Channel 4</a>의 <a href="http://www.channel4.com/programmes/4ip">4iP</a>에 의해 시작되었습니다.
      </p>

      <ul class="footer-links span4 pull-left">
        <li><a href="http://openspending.org">OpenSpending</a></li>
        <li><a href="http://wheredoesmymoneygo.org">Where Does My Money Go?</a></li>
        <li><a href="http://thedatahub.org">TheDataHub</a></li>
        <li><a href="http://okfnlabs.org">OKFN Labs</a></li>
        <li><a href="http://yourtopia.net">YourTopia</a></li>
      </ul>
      <ul class="footer-links span4 pull-left">
        <li><a href="team.html">만든 사람들</a></li>
        <li><a href="http://codenamu.org">코드나무</a>에게 연락하기</li>
        <li><a href="https://github.com/codeforseoul/wheredoesmymoneygo.kr">소스코드</a></li>
        <li><a href="http://okfn.org/privacy-policy/">개인정보 보호 정책(영문)</a></li>
      </ul>

      본 사이트에 있는 모든 <a href="http://creativecommons.org/licenses/by/3.0/">컨텐츠(이미지, 문서)</a>,
      <a href="http://www.gnu.org/licenses/agpl.html">소스코드</a>,
	  <a href="http://opendatacommons.org/licenses/odbl/">데이터</a>는
      <a href="http://opendefinition.org/">open definition 라이선스</a>에 따라 사용하실 수 있습니다.
      <br/>
      <a href="http://opendefinition.org"><img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="Open Content" /></a>
    </div>
  </div>
</footer>
